:root {
	--border-radius: 5px;
	--block-radius: 8px;
	--block-padding: 5px;
	--block-gap: 5px;
	--value-padding: 5px;
	--balue-radius: 5px;
	--saturation: 54%;
	--lightness: 90%;

	--group-1-color: #cdefcd;
	--group-2-color: #bce7eb;
	--group-3-color: #d8d8f3;
	--group-4-color: #f3d8f3;
	--group-5-color: #f0d0d0;
	--group-6-color: #e8e8c4;
	--group-next-color: rgba(0, 0, 0, .06);
}

/*$border-radius: 5px

$block-radius: 8px
$block-padding: 5px
$block-gap: 5px

$value-padding: 5px
$value-radius: 5px


$saturation: 54%
$lightness: 90%

$group-1-background: hsl(360 / 6 * 2, $saturation - 2%, $lightness - 3%)
$group-2-background: hsl(360 / 6 * 3 + 5, $saturation, $lightness - 7%)
$group-3-background: hsl(360 / 6 * 4, $saturation, $lightness)
$group-4-background: hsl(360 / 6 * 5, $saturation, $lightness)
$group-5-background: hsl(360 / 6 * 0, $saturation - 2%, $lightness - 2%)
$group-6-background: hsl(360 / 6 * 1, $saturation - 10%, $lightness - 6%)
$group-next-background: rgba(0, 0, 0, .06)

\:root
	--block-radius: 10px*/
