@import "../variables"

.alternative
	//border: 1px solid red


.alternative__children
	display: flex
	flex-direction: row
	align-items: center

//.value
//	position: relative
//	border-radius: 8px
//	background-color: white
//	padding: 4px 10px
//	color: #333
//	// margin: 5px;
//	&._special
//		color: #bd0fe1
//		background-color: rgba(189, 15, 225, 0.1)
//		border-radius: 4px
//		font-size: 10px
//		padding: .2em .6em
//		text-transform: uppercase
//		margin: 2px 5px
