@import '../variables.css';

.anchor {
	position: relative;
	text-transform: uppercase;
	border-radius: var(--border-radius);
	background-color: #fff;
	/*font-size: 15px;*/
}

.anchor__body {
	padding: var(--block-padding);
}
