@import "../variables"

.group
	margin: 0 5px

	&._lookahead,
	&._negativeLookahead
		padding: 8px
		border-radius: 12px
		border-width: 2px
		border-style: dashed

	&._lookahead
		border-color: rgba(#555, .5)

	&._negativeLookahead
		border-color: #f00
