@import '../variables.css';

.group {
	position: relative;
}

.group__body {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: var(--block-gap);
	padding: var(--block-padding);
	border-radius: var(--border-radius);
	/*!! //background: rgba(white, .25)*/
	/*border: 1px solid rgba(0, 0, 0, .03);*/
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.group._normal {

}

.group._normal._index1 > .group__body {
	background-color: var(--group-1-color);
}

.group._normal._index2 > .group__body {
	background-color: var(--group-2-color);
}

.group._normal._index3 > .group__body {
	background-color: var(--group-3-color);
}

.group._normal._index4 > .group__body {
	background-color: var(--group-4-color);
}

.group._normal._index5 > .group__body {
	background-color: var(--group-5-color);
}

.group._normal._index6 > .group__body {
	background-color: var(--group-6-color);
}

.group._normal._next > .group__body {
	background-color: var(--group-next-color);
}

.group._lookahead .group__body,
.group._negativeLookahead .group__body {
	border: 2px dotted #fff;
}

.group._lookahead {
	/*!! border-color: rgba(#555, .5);*/
}

.group._negativeLookahead {
	border-color: #f00;
}

.group__title {
	font-size: .6em;
	color: #4e4e4e;
	mix-blend-mode: color-burn;
	user-select: none;
}

.group__children {
	display: grid;
	grid-column-gap: 5px;
	grid-auto-flow: column;
	align-items: start;
	justify-content: center;
}

.group > .baseline {
	position: absolute;
	width: 100%;
	height: 1px;
	/*!! background-color: rgba(lime, .5);*/
}
