@import "../variables"

.group
	position: relative

	.group__body
		display: grid
		grid-row-gap: $block-gap
		grid-auto-flow: row
		padding: $block-padding
		//background: rgba(white, .25)
		border-radius: $block-radius
		//border: 1px solid rgba(0, 0, 0, .03)

	&._normal
		&._1 .group__body
			background-color: $group-1-background
		&._2 .group__body
			background-color: $group-2-background
		&._3 .group__body
			background-color: $group-3-background
		&._4 .group__body
			background-color: $group-4-background
		&._5 .group__body
			background-color: $group-5-background
		&._6 .group__body
			background-color: $group-6-background
		&._next .group__body
			background-color: $group-next-background

	&._lookahead,
	&._negativeLookahead
		.group__body
			border: 2px dotted #fff

	//&._lookahead
	//	border-color: rgba(#555, .5)

	&._negativeLookahead
		border-color: #f00

	.group__title
		font-size: .6em
		color: #676767
		mix-blend-mode: difference

	.group__children
		display: grid
		grid-column-gap: 5px
		grid-auto-flow: column
		align-items: start
		justify-content: center

	& > .baseline
		position: absolute
		width: 100%
		height: 1px
		background-color: rgba(lime, .5)
