@import "../variables"

//.value
//	position: relative
//	border-radius: 8px
//	background-color: white
//	padding: 4px 10px
//	color: #333
//	// margin: 5px
//	&._special
//		color: #bd0fe1
//		background-color: rgba(189, 15, 225, 0.1)
//		border-radius: 4px
//		font-size: 10px
//		padding: .2em .6em
//		text-transform: uppercase
//		margin: 2px 5px
.value
	position: relative
	display: inline-block
	background-color: white
	color: #333
	border-radius: $border-radius

	$color: #bd0fe1

	& > .value__body
		padding: 4px 10px

	& > .baseline
		position: absolute
		width: 100%
		height: 1px
		background-color: magenta

	.value__special
		font-size: .65em
		padding: 2px 5px
		border: 1px solid rgba(#000, .15)
		border-radius: 4px

		//&._any
		//	font-size: .65em
		//	padding: 2px 5px
		//	color: $color
		//	border-radius: 4px
		//	background-color: rgba($color, .1)


.unicode-symbol
	font-family: Monaco, monospace
	color: #50e3c2
	i
		opacity: .5
